{extend name="default/base/eb_common"/}
{block name="body"}
          <section class="wrapper">
          	<h3><i class="fa fa-angle-right"></i> 店铺排行榜</h3>
          	
          	<div  class="row">
          	<div class="col-lg-12">
          		<form class="form-inline">
					
					<div style="padding:5px 0px;">
					<div class="form-group" style="margin-left:20px;">
						    <label for="seller">店铺id</label>
						    <input type="text" class="form-control"  name="seller"   style="width: 150px;" value="{$formget.seller|default=''}" >
						  </div>
					  <div class="form-group" style="margin-left:20px;">
					    <label for="exampleInputEmail2">近7天销量</label>
					    <input type="text" class="form-control"  name="min_s7"  style="width: 90px;" value="{$formget.min_s7|default=''}" >-
					    <input type="text" class="form-control"  name="max_s7"  style="width: 90px;" value="{$formget.max_s7|default=''}" >
					  </div>
					  <div class="form-group" style="margin-left:20px;">
					    <label for="exampleInputEmail2">近7天销售额</label>
					    <input type="text" class="form-control"  name="min_r7"  style="width: 90px;" value="{$formget.min_r7|default=''}" >-
					    <input type="text" class="form-control"  name="max_r7"  style="width: 90px;" value="{$formget.max_r7|default=''}" >
					  </div>

					  <div class="form-group" style="margin-left:20px;">
					    <label for="focus">关注</label>
					    <select name="focus"  id="focus"  class="form-control" >
					    		<option  value ="All"  {eq name="$formget.focus"  value="All"}selected = "selected"{/eq} >全部</option>
						  		<option  value ="y"  {eq name="$formget.focus"  value="y"}selected = "selected"{/eq} >是</option>
						  		<option  value ="n"  {eq name="$formget.foucs"  value="n"}selected = "selected"{/eq} >否</option>					  
						</select>
					  </div>

					   <button type="submit" class="btn btn-primary" style="margin-left:20px;">搜&nbsp; &nbsp;索</button>		
					  </div>
					  				  				  
				</form>
				</div>
          	</div>
          	
		  		<div class="row mt">
			  		<div class="col-lg-12">
                      <div class="content-panel">
                      <h5><i class="fa fa-angle-right"></i> 总共找到{$total}个中国店铺</h5>
                          <section id="unseen">
                            <table class="table table-bordered table-striped table-condensed">
                              <thead>
                              <tr>
                                  <th rowspan="2"  style="text-align:center;line-height:38px;">店铺</th>
                                  <th rowspan="2"  style="text-align:center;line-height:38px;"><a href="{$surl}sort=1" >近一个月好评</a></th>
                                  <th rowspan="2"  style="text-align:center;line-height:38px;"><a href="{$surl}sort=2" >产品数量</a></th>
                                  <th rowspan="2"  style="text-align:center;line-height:38px;"><a href="{$surl}sort=3" >出过单的产品数量</a></th>
                                  <th rowspan="2"  style="text-align:center;line-height:38px;"><a href="{$surl}sort=4" >爆款数量</a></th>
                                  <th rowspan="2"  style="text-align:center;line-height:38px;"><a href="{$surl}sort=5" >店铺爆款率</a></th>
                                  <th colspan="3" style="text-align:center;">近7天</th>
                                  <th rowspan="2"  style="text-align:center;line-height:38px;">操作</th>
                              </tr>
                              <tr>
                              		<th style="text-align:center;"><a href="{$surl}sort=6" >店铺销量</a></th>
                              		<th style="text-align:center;"><a href="{$surl}sort=7" >店铺销售金额</a></th>
                              		<th style="text-align:center;"><a href="{$surl}sort=8" >店铺销售增幅</a></th>
                              </tr>
                              </thead>
                              <tbody>
                              {volist name="list" id="listing" }
                              <tr>
                                  <td><div style="width:120px;"><a href="{:ebf_getUrlByContry('us','http://www.ebay.com/usr/'.$listing['_source']['sellerid'])}"  target="_blank">{$listing['_source']['sellerid']}</a></div></td>
                                  <td class="numeric"><div style="width:60px;">{$listing['_source']['positivefeedback_1']}</div></td>
                                  <td><div style="width:60px;">{$listing['_source']['listings']}</div></td>
                                  <td><div style="width:60px;">{$listing['_source']['soldlistings']}</div></td>
                                  <td><div style="width:40px;">{$listing['_source']['hotlistings']}</div></td>
                                  <td><div style="width:80px;">{$listing['_source']['hotlistingrate']/100}%</div></td>
                                  <td class="numeric">{$listing['_source']['soldnum7']}</td>
                                  <td class="numeric">{$listing['_source']['revenue7']}</td>
                                  <td><div style="width:80px;" class="text-center">{$listing['_source']['growthrate7']/100}%</div></td>
                                  <td><a href="/home/seller/sellerlistings.html?seller={$listing['_source']['sellerid']}"  target="_blank">查看</a></td>
                              </tr>
                              {/volist}                              
                              </tbody>
                          </table>
                          </section>
                  </div><!-- /content-panel -->
                  
               </div><!-- /col-lg-4 -->			
		  	</div><!-- /row -->
		  	
		  	<!-- 分页 -->
			<div class="page">{$_page}</div>
			<!-- /分页 -->
{/block}
 {block name="script"}	
 <script>
function focus( seller ){
	if( seller == null )return;
	var url = "/home/seller/focus.html?seller="+seller;
	$.ajax({
	     url: url ,
	     dataType: 'json',
	    success: function(req){
	    	var atxt = '关注成功！';
	    	if(req.status==0){
		    	 alert("关注成功！");
		    }else{
		    	alert( '关注失败！'+req.info);
		   	}		    
	    },
	    error:function(req){
	    	console.log(req.responseText);
	    	alert("关注失败，请重试！");
	    }
	});
}

function unfocus( seller ){
	if( seller == null )return;
	var url = "/home/seller/unfocus.html?seller="+seller;
	$.ajax({
	     url: url ,
	     dataType: 'json',
	    success: function(req){
	    	if(req.status==0){
		    	 alert("取消关注成功！");
		    }else{
		    	alert( '取消关注失败！'+req.info);
		   	}		    
	    },
	    error:function(req){
	    	console.log(req.responseText);
	    	alert("取消关注失败，请重试！");
	    }
	});
}

</script>
{/block} 	

